<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Holden Milk Legal Advice</title>
    <meta property="theme-color" content="#1E91CC">
    <meta property="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="HoldenMilk.Legal">
    <meta property="twitter:title" content="Holden Milk Legal Advice">
    <meta property="og:title" content="Holden Milk Legal Advice">
    <meta property="twitter:description" content="Legal Advice for Immaterial Plane Citizens">
    <meta property="og:description" content="Legal Advice for Immaterial Plane Citizens">
    <meta property="description" content="Legal Advice for Immaterial Plane Citizens">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <script src="index.js"></script>
</head>
<body>
    <div class="nav">
        <h1><a href="/">Holden Milk Legal</a></h1>
        <a href="/login">Client Login</a>
    </div>
    <div class="content">
        {% block content %}This has no content!{% endblock %}
    </div>
</body>
</html>