{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Welcome to Holden Milk Legal, The Most "Legal"</h1>
<img class=milkimg src="hands-prayer-milk-worship-preview.jpg">
<p>
    Holden Milk Legal is the semi-professional legal practice of Holden Milk, who is a bunch of milk that is held in the cupped hands of 4-10 people. They are the current Chief Marine Biologist and Legal Advisor of the Charleston Shoe Thieves. 
    <br><br>
    Holden Milk Legal specializes in Kicks Law, Loafing and Maritime Law.
</p>
<p>
    <h2>WHO WE ARE</h2>
    <ul>
        <li>Milk</li>
        <li>Held in hands</li>
        <li>Maybe yours</li>
        <li>Marine biologist (officially unofficially licensed)</li>
        <li>Nationally-recognized for excellence in Kicks Law</li>
    </ul>
</p>
<p>
    <h2>THE MILK DIFFERENCE</h2>
    <ul>
        <li>Experienced, responsive Holden Milk will serve as your personal legal advisor and marine biologist for one low price</li>
        <li>Cost-effective solutions that are at least partially legal</li>
        <li>Is good for Your Bones</li>
        <li>Great source of calcium</li>
    </ul>
</p>
<p>
    <h2>HOW CLIENTS BENEFIT</h2>
    Milk is a nutrient-rich beverage that is packed with important nutrients such as calcium, potassium, vitamin D, and Triple Olifieve.
</p>
<p>
    <h2>CORE VALUES</h2>
    Holden Milk, Legal believes in core values that are at the very heart of our legal practice and affect every aspect of how we represent our clients. These values are as follows:
    <ul style="width:45%">
        <li>Your kicks are our kicks.</li>
        <li>What are you, a cop?</li>
    </ul>
</p>
<p>
    <h2>OUR TEAM</h2>
    <div class=team>
        <div>
            <img src="holden.png" title="Art by: Homekeys">
            <h3>Holden Milk, Attorney</h3>
            <p>Expert Attorney in all shoe related cases, never lost a shoe related case. Also a competent marine biologist.</p>
            <p>Currently held by:</p>
            <ul>
                <li>Eleni</li>
                <li>Bee</li>
                <li>Daz Zani</li>
                <li>Manderley</li>
                <li>Larina</li>
                <li>Boozlenoodle</li>
                <li>M. R.</li>
                <li>Upogsi</li>
            </ul>
        </div>
        <div>
            <img src="sneaker.png" title="Art by: @fortunesforfun on twitter">
            <h3>Sneaker Pete, Attorney</h3>
            <p>Though most people around Charleston are familiar with Mr. Pete's work in stadium, few know that he is an expert in Ancient Splorts Law. This expertise not only impacts his work for the firm, but also in the mean streets of Charleston</p>
        </div>
        <div>
            <img src=patchwork.jpg title="Stock Image">
            <h3>Patchwork, Para<span class=strike>normal</span>legal </h3>
            <p>bio goes here</p>
        </div>
        <div>
            <img src="snakerdragon.png" title="Art by: iguanamouth on tumblr">
            <h3>Shoe Dragon, Receptionist</h3>
            <p>Mx. Dragon has been with Holden Milk Legal from Day 1. Despite their inability to be a milk holder, the firm relies on their outstanding ability to collect any and all correspondence that arrives. Sometimes they even allow Holden to look at it.</p>
        </div>
        <div>
            <img src="Tillman.png" title="Art by: @corpserevivers on twitter">
            <h3>Tillman Henderson, Involuntary Intern</h3>
            <p>Mr. Henderson has recently transferred to Charleston and is currently partaking in a community service activity that includes pushing large piles of paper from one side of Holden's desk to the other. He is doing a great job.</p>
        </div>
    </div>
</p>
<p>
    <h2>WE'RE HIRING</h2>
    <div class=team>
        <div>
            <h3>Open Position, Footwear IP Specialist</h3>
            <p>Do you know a rainboot from a stiletto heel? Let us know and apply today!</p>
        </div>
        <div>
            <h3>Open Position, Dockers Specialist </h3>
            <p>The court keeps telling us about a thing called a docket, but we don't know what that is. We are however interested in adding a Dockers Specialist to our growing family!</p>
        </div>
    </div>
</p>
<p>
    <h2>CONTACT US</h2>
    Choux Stadium<br>
    444 Charleston Ave. NW<br>
    Every Charleston, Everywhere<br>
    holden.milk@holdenmilk.legal<br>
</p>
<p>
    <small>By accepting to partake in Holden Milk Legal you hereby permanently, irrivicably and eternally revoke and tranfers all you rights to shoes, footwear, feet accessory and lower limbs apperal to Holden Milk Legal and associates.</small>
</p>
{% endblock %}