{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Blood</h2>
    <p><span class=redact>••••••••</span> <span class=redact>••</span> <span class=redact>••••••</span> <span class=redact>••••</span> <span class=redact>•••</span></p>
    <h2>Holden</h2>
    <p>Hum, yes, I understand. You are not at fault here, don’t worry</p>
    <h2>Blood</h2>
    <p>AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    <h2>Holden</h2>
    <p>Agreed, it is indeed. Shall we meet in the usual place?</p>
    <h2>Blood</h2>
    <p>ye</p>

</div>
{% endblock %}