{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Cornelius</h2>
    <p>Holden, I am in need of your assistance once again </p>
    <h2>Holden<h2>
    <p>I am figuratively all ears. In reality I am all milk, but that doesn't matter right now</p>
    <h2>Cornelius</h2> 
    <p>Well, what i need is simple, actually,</p>
    <p>Wait. </p>
    <h2>Holden<h2>
    <p>What is it, Games? Any problems? </p>
    <h2>Cornelius</h2> 
    <p>This Network. Its been compromised. They found us. And probably all our messages too. Holden, Do away with everything you can. Start plan Stilettos immediately</p>
    <h2>Holden<h2>
    <p>Huh, it was bound to happen eventually. Very well. </p>
</div>
{% endblock %}