{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Fitzgerald</h2>
    <p>hey holden i have a question</p>
    <h2>Holden</h2>
    <p>What legal problem do you have this time? Were you wrongfully cursed? Caught stealing a governor's shoe? Trying to fake you death? Problem with the dimensional police? Grand larceny?</p>
    <h2>Fitzgerald</h2>
    <p>Legal problem? No, what are you talking about? I have a Marine biology question</p>
    <h2>Holden</h2>
    <p>...You have my full and undivided attention for now and ever.</p>    
</div>
{% endblock %}