{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Charleston Zoo v. Gunther O'brian</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>

    <h2>Gunther</h2>
    <p>🐧</p>
    <hr>
    <h2>Holden</h2>
    <p>Don't worry Gunther buddy, there is no way the court will charge you</p>
    <hr>
    <h2>Gunther</h2>
    <p>🐧🐧🐧</p>
    <hr>
    <h2>Holden</h2>
    <p>Gunther I know you love people</p>
    <p>But every time you go to the zoo they think you are an escaped peguin!</p>
</div>
{% endblock %}