{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Hotbox</h2> 
    <p>Hypothetically, if one were to, say, teach a younger player some theoretical tools of the trade, would this, in theory, make an entity a party to any rule bending that might occur with said tools?</p>
    <h2>Holden</h2>
    <p>How are you typing this?</p>
    <h2>Hotbox</h2>
    <p>How are you typing this?</p>
    <h2>Holden</h2>
    <p>Fair. I’ll look into your question</p>    
</div>
{% endblock %}