{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Howell</h2>
    <table>
        <tr>
            <td>Ingredients<br>
                1 ½ lbs ground bison<br>
                1 bag tater tots<br>
                1 can condensed cream of mushroom soup<br>
                ½ bag green beans, defrosted<br>
                1 ½ cups shredded cheddar cheese<br>
                A bunch of bacon, pre-cooked<br>
                Half a thing of those crispy onion things<br>
                ½ teaspoon salt<br>
                ½ teaspoon pepper<br>
                Worcester, a splash or two.<br>
                </td>
            <td>Steps<br>
                1. Preheat oven to 350° F.<br>
                2. Brown bison with a splash or two of worcester, drain.<br>
                3. Mix browned bison, salt, pepper, soup and green beans. Pour in casserole.<br>
                4. Place tater tots on top of beef mixture. Then top off with cheddar cheese, bacon (crumbled) and those crispy onion things.<br>
                5. Cover with foil and bake 45 minutes. Remove foil and bake 15 minutes.<br>
                6. Serve immediately.<br>
                </td>
        </tr>
    </table>
    <h2>Holden</h2>
    <p>Howell, what is this?</p>
    <h2>Howell</h2>
    <p>Delicious. Kids love it.</p>
</div>
{% endblock %}