{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Richardson</h2>
    <p>Holden. Urgent. I need your help.</p>
    <h2>Holden</h2>
    <p>What is it, Dickson? Did you accidentally hit someone with your Grappling Hook again? As your legal counsel i have to recommend you to stop using that thing outside games and heists…</p>
    <h2>Richardson</h2>
    <p>Uh, maybe, but that’s not what I’m here about. so may have...siphoned some more blood.</p>
    <h2>Holden</h2>
    <p>Gross, but, as we’ve discussed, technically legal under ILB rules.</p>
    <h2>Richardson</h2>
    <p>You’re milk held in hands, you sure you wanna talk about ‘gross’?</p>
    <h2>Holden</h2>
    <p>Do you want my help or not?</p>
    <h2>Richardson</h2>
    <p>...This time it was frog blood. a from a tiny frog. And I was wondering what you could tell me about frogs and what I might expect.</p>
    <h2>Holden</h2>
    <p>I know nothing about frogs.</p>
    <h2>Richardson</h2>
    <p>You’re a marine biologist!<p>
    <h2>Holden</h2>
    <p>Richardson...you know frogs aren’t fish, right?</p>    
</div>
{% endblock %}