{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Sebastian</h2>
    <p>Do they still think I'm dead? Is the wooden statue working?</p>
    <h2>Holden</h2>
    <p>Somehow yes. And it is somehow better at hitting then you are</p>
    <h2>Sebastian</h2>
    <p>Wait what? Well whatever, I still need help with ‘The Plan’ and your my only contact</p>
    <h2>Holden</h2>
    <p>Well aware. And we need to discuss your Pseudocide, I discovered that you may avoid charges by actually dying!</p>    
</div>
{% endblock %}