{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Sebastian</h2>
    <p>Hey, Holden, just reaching out to you to say… I think I found myself. I'm Not Sebastian Townsend. I never was. Im myself, and would like to be treated as such from now on, ok?</p>
    <h2>Holden</h2>
    <p>That is great news Sebastian. I wish you all the best. Do you want help with anything to conclude that realization? A name change or social name form, perhaps? </p>
    <h2>Sebastian</h2>
    <p>No need. I like my name. It's what my friends call me. Although I do need to change my license pictures, because of the makeover</p>
    <h2>Holden</h2>
    <p>Very well, I will Provide that. Carpenter, was it? That did the job, that is. May i say that it was fantastic work</p>
    <h2>Sebastian</h2>
    <p>Thank you. Oh I also need something else, somewhat unrelated. Please dont tell the others yet, it's not exactly public… But I need.. Uh. A special kind of form… one for a … oh how do i put this...</p>
    <h2>Holden</h2>
    <p>I think i understand. No need to explain. And congratulations for your… form. I wish both of you all the best</p>        
</div>
<h2>Attached Files:</h2>
<h3><a href="/woodman.png">makeover.png</a></h3>
{% endblock %}