{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Snyder</h2>
    <p>It’s fake.</p>
    <h2>Holden</h2>
    <p>What’s fake?</p>
    <h2>Snyder</h2>
    <p>The accent. It’s fake.</p>
    <h2>Holden</h2>
    <p>And?</p>
    <h2>Snyder</h2>
    <br><br>
    <h2>Holden</h2>
    <br><br>
    <h2>Snyder</h2>
    <p>Can I--</p>
    <h2>Holden</h2>
    <p>No, you can’t sue your teammate for having a fake cockney accent.</p>    
</div>
{% endblock %}