{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: Legal Advice</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>
    <h2>Tillman</h2>
    <p>I need a record expunged.</p>
    <h2>Holden</h2>
    <p>Mr. Henderson, you are going to need to be more specific.</p>
    <h2>Tillman</h2>
    <p>See attached. I need it gone.</p>
    <h2>Holden</h2>
    <p>This is documentation of charity donations.</p>
    <h2>Tillman</h2>
    <p>Leave no trace.</p>    
</div>
<h2>Attached Files:</h2>
<h3><a href="/tillman_receipt.pdf">Records to be expunged.pdf</a></h3>
{% endblock %}