{% layout "layouts/default.html" %}
{% block "content" %}
<h1>Case: The State v. Velazquez Aslott</h1>
<h2>Assgined Attorney: Holden M.</h2>
<div class=chat>

    <h2>Holden</h2> 
    <p>Vela. I love you sweetie, and I know you are theoretically all ages at once, but you cannot continue to drive at an interstate while 12.</p>
    <h2>Velazquez</h2> 
    <p>But I have a License! And was sitting on like, 3 books!</p>
    <h2>Holden</h2> 
    <p>Your License is from 40 years from now, Vela</p>
    <h2>Velazquez</h2> 
    <p>Ugh, fine. But just because the Public transport system is cool.</p>
    <h2>Holden</h2> 
    <p>Great. With that out of the way, we need to discuss you frequenting casinos while you are 2</p>

</div>
{% endblock %}