@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body{
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: 'Lora', serif;
    padding-bottom: 1em;
}

.nav{
    background-color: #1E91CC;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    align-items: center;
    height: 10em;
    padding: 2em 15em;
    color: white;
}

.nav h1{
    display: inline-block;
    margin: 0;
    padding: 0.2em;
}
.nav a{
    grid-column: 3;
    justify-content: baseline;
    padding-right: 1em;
    color: white;
    text-decoration: none;
}

.content{
    padding: 0.3em 8em;
    text-align: center;
    font-size: 1.4em;
    color: #333
}

.banner{
    background-color: #1E91CC;
    color: white;
    font-weight: 900;
    height: 5em;
    place-content: center;
}

.chat{
    background-color: #eee;
    text-align: left;
    padding: 0.3rem 3rem;
}

.chat h2{
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0;
    margin-top: 1rem;
}
.chat p{
    margin-top: 0.3rem;
}

.chat hr{
    color: #ccc
}

.milkimg{
    border-radius: 20px;
}

ul{
    text-align: left;
    width: 60%;
    margin: auto;
}

.team ul{
    width: 100%;
}

small{
    font-size: 0.3em;
    color: #eee;
}

.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
}

.team div{
    background-color: #eee;
    padding: 0.8rem;
    border-radius: 20px;
}

.strike{
    text-decoration: line-through;
}

img{
    width: 100%;
}

.team img{
    width: 70%;
    margin: auto;
    border-radius: 20px;
}

.redact{
    background-color: black;
    color: black;
}

td{
    width: 50%;
    border: 1px solid black;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top; 
}
table{
    border-collapse: collapse;

}